/* General */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    min-height: 100vh;
    grid-area: header;
    grid-template-areas: 
    "header header header"
    "section1 section1 section1"
    "footer footer footer";
    grid-template-rows:  100px 1fr 100px;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 10px;
    background-color: bisque;
}
header{
    grid-area: header;
}
.header-container {
    display: flex;
    justify-content: space-around;
}
footer{
    grid-area: footer;
}
#seccion1{
    grid-area: section1;
}
h1 {
    font-size: 2em;
    color: beige;
    background-color: grey;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.hijo {
    display: flex;
    justify-content: space-around;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem;
}
.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagina {
    padding: 10px;
}
/* Home */

.title-home {
    padding: 20px;
    margin-bottom: 50px;
}
.navegacion a{ 
    text-decoration: none;
    color: #92278f;
}

.intro :hover{
    color: aquamarine;
    text-decoration: dotted;
}
.intro {
    transition: all 0.3s ease-in-out;
}
.intro :hover{
    transform: scale(1.1);
    cursor: pointer;
}

.foot {
    background-color: chocolate;
    display: flex;
    align-items: center;
}

.contenedor {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.list {
    width: 200px;
}

.floor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
img{
    width: 100;
    height: auto;
}
.redes-sociales ul{
    display: flex;
    justify-content: space-between;
    display: inline-block;
    padding: 80px;;
    align-items: center;
}
.logoFacebook{
    width: 40px;
}


/* Quienes Somos */